@import "tailwindcss";

:root {
  --background: rgba(242, 244, 250, 1);
  --foreground: black;
  --header: white;

  /* --toast-bg-success: rgb(251, 239, 239);
  --toast-bg-error: #f87171;
  --toast-bg-warning: #facc15; */

  --primary-heading: rgba(64, 108, 175, 1);
  --sideitem-bg: rgba(230, 230, 245, 1);
  --sideitem-text: rgba(64, 108, 175, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(242, 244, 250, 1);
    --foreground: black;
    --header: white;

    --toast-bg-success: darkblue;
    --toast-bg-error: #f87171;
    --toast-bg-warning: #facc15;

    --primary-heading: rgba(64, 108, 175, 1);
    --sideitem-bg: rgba(230, 230, 245, 1);
    --sideitem-text: rgba(64, 108, 175, 1);
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-bg: var(--header);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-primary-heading: var(--primary-heading);
  --color-sideitem-bg: var(--sideitem-bg);
  --color-sideitem-text: var(--sideitem-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.page {
  @apply flex flex-col w-full p-6;
}

.toast-bar {
  background-color: var(--toast-progress) !important;
}

.toast-success {
  background: rgb(250, 248, 241) !important;
}
.toast-error {
  background: rgb(217, 44, 84) !important;
}
.toast-warning {
  background: rgb(37, 103, 30) !important;
}

.button {
  @apply p-2 rounded-2xl transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-purple-900 translate-x-2;
}

.heading {
  @apply max-w-xs text-xl font-normal leading-10 tracking-tight;
}

.animated {
  @apply transition duration-300 ease-in-out hover:translate-y-1 hover:scale-102 active:opacity-10;
}

.box-shadow {
  @apply shadow-[0_0_20px_rgba(255,255,255,0.5)];
}

.hover-shadow {
  @apply hover:shadow-[0_0_10px_rgba(0,0,0,0.5)] transition duration-300;
}

.shadowed {
  @apply shadow-[0_0_10px_rgba(0,0,0,0.25)];
}

.table-container {
  @apply rounded-xl! border! border-gray-300! shadow-none! px-2! bg-white!;
}

.tablecell {
  @apply border-none! text-[0.85rem]!;
}

.table-row-data {
  @apply odd:bg-[rgba(242,244,250,1)]! even:bg-transparent!;
}

.user-table-btn {
  @apply border-[1.5px] py-[0.85vh]! rounded-md cursor-pointer w-full font-semibold text-[0.80rem]!;
}

.mobile-btn-main {
  @apply bg-primary-heading w-full text-white rounded-xl py-[2.25vh] font-semibold text-[1rem];
}

.mobile-filter-btn {
  @apply flex rounded-3xl place-items-center gap-[1.65vw] bg-white py-[1.2vh] px-[3.5vw] font-medium text-[0.65rem] shadow-[0_0_10px_rgba(0,0,0,0.25)]!;
}

.mui-menuitem {
  @apply flex! gap-[1vw]! text-[0.85rem]! font-medium!;
}

.mui-menuitem-mobile {
  @apply flex! gap-[2vw]! text-[0.75rem]! font-medium!;
}

.animated2 {
  @apply transition! duration-300! ease-in-out! active:translate-y-1! active:scale-106! active:opacity-10!;
}
